#root {
  padding: 30px;
  font-family: "Open Sans", sans-serif;
}

nav > a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  margin-right: 30.5px;
  text-decoration-line: none;
}

nav > a.active {
  text-decoration-line: underline;
}

nav {
  padding-bottom: 20px;
  border-bottom: 1px solid #979797;
  margin-bottom: 20px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  margin: 0;
  margin-bottom: 18px;
}

hr {
  border: none;
  border-top: 1px solid #979797;
  margin: 20px 0;
}

input,
select {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 4px;
  padding: 7px 9.5px 9px 9.5px;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.tile {
  margin: 0;
  font-size: 14px;
  margin-bottom: 4px;
}

.tile.tile-title {
  font-weight: bold;
}

.tile-container {
  margin-bottom: 20px;
}

form input {
  margin-bottom: 10px;
}

form button {
  width: 100%;
  padding: 5px;
  border: 1px solid lightgrey;
  background-color: lightblue;
  border-radius: 5px;
}

form button:hover {
  background-color: cyan;
}

/* Appointment Form */
.appointment-form select {
  -webkit-appearance: none;
  appearance: none;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "▼";
  font-size: 1rem;
  top: 6px;
  right: 12px;
  position: absolute;
}
